node_modules/
.env
.env.local
.auth/
test-results/
playwright-report/
allure-results/
allure-report/
blob-report/
.features-gen/
playwright/.cache/
dom_dumps/
dom_logs/
.playwright-browsers/
**/.DS_Store
